<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <link href="{% static 'style-coba.css'%}"rel="stylesheet">
    {% block head %}
    {% endblock%}
</head>

<body>
    <div class="wrapper">
        <div class="menu">
            <nav>
                <ul>
                    <li>
                        <a href="{% url 'MyProfile:homepage' %}">
                            <img src="https://www.imageupload.co.uk/images/2018/09/27/Design.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">About Me</a>
                    </li>
                    <li>
                        <a href="{% url 'MyProfile:portofolio' %}">Portofolio</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                    <li>
                        <a href="{% url 'MyProfile:guestbook' %}">Guest Book</a>
                    </li>
                    <li>
                        <a href="{% url 'MyProfile:eventform' %}">Event Form</a>
                    </li>
                    <li>
                        <a href="{% url 'MyProfile:eventlist' %}">Event List</a>
                    </li>
                </ul>
            </nav>
        </div>
        {% block body %}
        {% endblock %}
        <div class="footer" id="bawah">
            <p>Created by Mohammad Wildan Yanuar</p>
        </div>
    </div>
</body>

</html>