{% extends "base.html" %}

{% block head %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Event Form</title>
{% endblock%}

{% block body %}

<div class="content-d">
    <div class="title">
        <h1>
            EVENT LIST
        </h1>
    </div>
    <div class="input-form">
        {% for event in allEvent %}
            <h2>{{ event.event }}</h2>
            <p>{{ event.category }}</p>
            <p>{{ event.place }}, {{ event.date }}</p>
        {% endfor %}
        <a class="button-delete" href="{% url 'MyProfile:eventlistdelete' %}">Delete All</a>
    </div>
</div>

{% endblock %}