{% extends "base.html" %}

{% block head %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Guest Book</title>
{% endblock%}

{% block body %}

<div class="content-d">
    <div class="title">
        <h1>
            GUEST BOOK
        </h1>
    </div>
    <div class="input-form">
        <form>
            <div class="form-group">
                <label for="exampleFormControlInput1" class="input-label">Name:</label>
                <input type="text" class="form-control" placeholder="Name">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1" class="input-label">Date:</label>
                <input type="date" class="form-control">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1" class="input-label">Email address:</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1" class="input-label">Subject:</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Subject">
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1" class="input-label">Message:</label>
                <textarea class="form-control" id="textarea" rows="3" placeholder="Message"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

{% endblock %}
