{% extends "base.html" %}
{% block head %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Mohammad Wildan Yanuar</title>
{% endblock %}

{% block body %}

<div class="header">
    <div class="background"></div>
    <div class="img-me">
        <img src="https://www.imageupload.co.uk/images/2018/09/27/foto.png" alt="">
    </div>
    <div class="name">
        <h1>i'm yayan</h1>
        <h3>information system student<br>University of Indonesia</h3>
    </div>
    <div class="introduction">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique neque fugiat temporibus, sit
            reiciendis, nostrum, rem iusto officiis ad soluta doloremque assumenda in architecto. Pariatur.</p>
    </div>
    <a class="btn" href="#">contact</a>
</div>
<div class="content-a">
    <div class="title">
        <h1>1. skill</h1>
    </div>
    <div class="skill">
        <ul>
            <li>
                <h3>HTML</h3>
                <span class="bar">
                    <span class="html">
                    </span>
                </span>
            </li>
            <li>
                <h3>CSS</h3>
                <span class="bar">
                    <span class="css">
                    </span>
                </span>
            </li>
            <li>
                <h3>python</h3>
                <span class="bar">
                    <span class="python">
                    </span>
                </span>
            </li>
        </ul>
    </div>
</div>
<div class="content-b">
    <div class="title">
        <h1>2. PORTOFOLIO</h2>
    </div>
    <img class="big" src="https://www.imageupload.co.uk/images/2018/09/27/big1.jpg" alt="">
    <img class="big" src="https://www.imageupload.co.uk/images/2018/09/27/big2.jpg" alt="">
    <img class="big" src="https://www.imageupload.co.uk/images/2018/09/27/big3b6bba.jpg" alt="">
    <img class="big" src="https://www.imageupload.co.uk/images/2018/09/27/big4.jpg" alt="">
    <img class="big" src="https://www.imageupload.co.uk/images/2018/09/27/big5.jpg" alt="">
</div>
<div class="content-c">
    <div class="title">
        <h1>3. contact</h1>
    </div>
    <div class="contact">
        <ul>
            <li>
                <img src="https://www.imageupload.co.uk/images/2018/09/27/Phone.png" alt="">
                <p>081286227658</p>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/mohammadwildanyanuar/" class="contact-b" id="contact2b" style="text-decoration:none">
                    <img src="https://www.imageupload.co.uk/images/2018/09/27/linkin.png" alt="">
                    <br>
                    Mohammad Wildan Yanuar
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/mohammadwildan.yanuar" class="contact-b" id="contact3b" style="text-decoration:none">
                    <img src="https://www.imageupload.co.uk/images/2018/09/27/facebook.png" alt="">
                    <br>
                    Mohammad Wildan Yanuar
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/mohammadwildany/" class="contact-b" id="contact4b" style="text-decoration:none">
                    <img src="https://www.imageupload.co.uk/images/2018/09/27/instagram.png" alt="">
                    <br>
                    mohammadwildany
                </a>
            </li>
        </ul>
    </div>
</div>

{% endblock %}