@import url('https://fonts.googleapis.com/css?family=Poppins');

body{
    font-family: 'Poppins', sans-serif;
    background: #211707;
    color: beige;
    margin: 0;
}

.title h1{
    color: #FADE36;
    font-size: 3em;
    text-transform: uppercase;
    text-align: center;
}

.menu {
    grid-area: menu;
    background: #0e0903;
    justify-content: center;
}

.footer {
    grid-area: footer;
    background-color: #0e0903;
    text-align: center;
}

nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

nav li {
    list-style: none;
    padding: 1.5em 0.5em;
    font-size: 14px;
}

nav li img {
    height: 3em;
    padding: 0;
    top: 0.5em;
}
nav li a {
    text-decoration: none;
    opacity: 0.6;
    font-weight: 700;
    transition: 0.3s;
    color: beige;
}

nav li a:hover {
    opacity: 1;
}

.header{
    grid-area: header;
    text-align: center;
    margin: 1em 0;
}
.header h1{
    color: #FADE36;
    text-transform: uppercase;
    font-size: 3em;
    margin: 0.3em 0;
}

.header h3{
    text-transform: uppercase;
    font-size: 1.5em;

}

.header p{
    color: rgba(245, 245, 220, 0.822)
}

.header .btn{
    display: inline-block;
    border: 1px solid #FADE36;
    padding: 0.5em 0.5em;
    color: #FADE36;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    transition: 2s;
}

.header .btn:hover{
    background: rgb(216, 165, 27);
    color: beige;
}

.content-a{
    grid-area: content-a;
    text-align: center;
}

.content-a .skill{
    width: 80%;
    margin: 10% auto;
    color: beige;
}

.content-a .skill ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.content-a .skill li{
    margin: 20px 0;
}

.content-a .skill .bar{
    background: #353b48;
    display: block;
    height: 4px;
    border: 1px solid whitesmoke;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px #e67315b3;
}

.content-a .skill .bar span{
    height: 4px;
    float: left;
    background: #e67315e3;
}

.content-a .skill .html{
    width: 90%;
    animation: html 4s;
}

.content-a .skill .css{
    width: 60%;
    animation: css 4s;
}
.content-a .skill .python{
    width: 50%;
    animation: python 4s;
}

@keyframes html {
    0% {
        width: 0%
    }
    100% {
        width: 90%
    }
}
@keyframes css {
    0% {
        width: 0%
    }
    100% {
        width: 60%
    }
}
@keyframes python {
    0% {
        width: 0%
    }
    100% {
        width: 50%
    }
}


.content-b {
    grid-area: content-b;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 150px;
    text-align: center;
}

.content-b .title{
    grid-column: span 2;
}
  
.content-b img {
    width: 100%;
    box-shadow: var(--shadow);
}

.content-b .big {
    grid-row: span 2;
    grid-column: span 2;
}

.content-c {
    grid-area: content-c;
    padding: 2em 1em 1em;
    text-align: center;
    justify-content: center;
}

.content-c .contact ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.content-c .contact li img{
    width: 50px;
}
.content-c .contact li {
    margin-bottom: 1em;
}

.content-c .contact li p{
    padding: 0;
    color: #ffffff;
    font-size: 1em;
    transition: 2s;
}
.content-c .contact li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1em;
    transition: 2s;
}

.content-c .contact li a:hover, .content-c .contact li p:hover{
    color: rgba(250, 221, 54, 0.801);
}

.content-d {
    grid-area: content-d;
    grid-column: 1/-1;
    margin: 0 1em 0 1em;
}
.content-d form{
    margin: 20px auto;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
}

.content-d label{
    color: #FADE36;
    font-size: 20px;
}
.content-d .form-control{
    padding: 10px;
    display: block;
    width: 95%;
}

.content-d button{
    display: block;
    width: 20%;
    font-family: 'Poppins', sans-serif;
    border: 1px solid #FADE36;
    padding: 0.5em 0.5em;
    text-align: center;
    font-size: 20px;
    margin: 10px 0 0 0;
    height: 60px;
    transition: 2s;
    background: none;
    color: #FADE36
}

.content-d button:hover{
    background: rgba(250, 221, 54, 0.733);
    color: beige;
    border: none;
    
}

.wrapper{
    width: 100%;
    display: grid;
    grid-template-areas:
        "menu"
        "header"
        "content-a"
        "content-b"
        "content-c"
        "content-d"
        "footer";
        grid-template-columns: 1fr;
        grid-template-rows: 80px auto auto auto auto auto auto;
}

@media (min-width: 600px) {
    .wrapper {
        grid-template-areas: 
            "menu header"
            "menu header"
            "menu header"
            "menu content-a"
            "menu content-b"
            "menu content-c"
            "menu content-d"
            "footer footer";
            grid-template-columns: auto 1fr; 
            grid-template-rows: 80px auto auto auto auto auto auto auto;     
    }

    .menu{
        padding-top: 3em;
    }

    nav ul {
        display: grid;
        grid-template-rows: auto 1fr 1fr 1fr 1fr;
    }

    nav li {
        list-style: none;
        padding: 1.5em 0.5em;
        font-size: 20px;
    }
    
    nav li img {
        height: 6em;
        padding: 0;
        top: 0.5em;
    }

    .header {
        text-align: left;
        margin: 2em auto;
    }

    .header img {
        width: 300px;
        float: right;
        margin: 4em 1em;
        grid-row: 2/-1;
    }
    .header .name {
        margin: 0.3em 0 0 1em;
    }

    .header h1{
        color: #FADE36;
        text-transform: uppercase;
        font-size: 5em;
        
    }
    
    .header h3{
        text-transform: uppercase;
        font-size: 2em;
    }
    
    .header p{
        color: rgba(245, 245, 220, 0.822);
        width: 60%;
        margin: 0 0 0 1em;
    }
    
    .header .btn{
        display: inline-block;
        margin: 0 0 0 1em;
        border: 1px solid #FADE36;
        padding: 0.5em 0.5em;
        color: #FADE36;
        text-align: center;
        font-size: 20px;
        text-decoration: none;
        transition: 2s;
        margin: 1em 0 0 20px;
    }

    .content-b .title {
        grid-column: 1/-1;
    }
}

@media (min-width: 1040px) {
    .img-me {
        display: none;
    }

    .header{
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("https://www.imageupload.co.uk/images/2018/09/27/background1b.jpg");        width: 1200px;
        height: 650px;
        background-position: center;
        background-size: cover;
        position: relative;
        margin: 0;
    }

    .header .name {
        margin: 80px 0 0 1em;
    }
    .header p{
        color: rgba(245, 245, 220, 0.822);
        width: 50%;
        margin: 0 0 0 1em;
        font-size: 19px;
    }
    
    .header .btn{
        display: inline-block;
        margin: 0 0 0 1em;
        border: 1px solid #FADE36;
        padding: 0.5em 0.5em;
        color: #FADE36;
        text-align: center;
        font-size: 30px;
        text-decoration: none;
        transition: 2s;
        margin: 1em 0 0 20px;
    }

    .content-c .contact ul{
        list-style: none;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr; 
    }
    .content-c .contact li p, .content-c .contact li a{
        font-size: 1.5em;
    }
    .content-c .contact li img{
        width: 15%;
    }
}